.donation{
  padding: inherit;
  color :rgb(236,181,13);
  text-shadow: 2px;
  text-align: center;
  -webkit-text-decoration: peru solid overline;
  text-decoration: peru solid overline;
}
body > div:nth-child(7) > div > div{
  background: rgb(212,237,218);
  font-size: 19px;
  width: auto;
}
body > div:nth-child(8) > div > div{
  background-color: rgb(74,20,140);
  border: 2px solid;
  border-radius: 10px;
}
/* .button_donate{
  display: inline-block;
  text-align: center;
  text-decoration: solid;
  margin: 2px 0;

  border: solid 1px transparent;
  border-radius: 4px;

  padding: 0.5em 1em;
  color: #ffffff;
  background-color: #9c1f00;
} */
.button_donate:hover {
  color: #ff0000;
  border-color: currentColor;
  background-color: white;
}
